.stack-wrapper {
	padding-top: 10px;
	padding-left: $nav-height;
}

.colorStack {
	background-color: #fff;
	max-width: 200px;
	width: 100%;
	display: inline-block;
	margin: 0px 15px;
	text-align: center;
	.colorChip {
		line-height: 20px;
		font-size: 0.7em;
		padding: 20px 0px;
	}
	.colorTitle {
		color: #333333;
		padding: 20px 0px;
		font-weight: bold;
	}
}

.newColorStack {
	max-width: 300px;
}