@import 'variables';
@import 'header';
@import 'sideNav';
@import 'colorStack';
@import 'login';

* {
	font-family: 'raleway', 'helvetica', 'arial', 'sans-serif';
}

.container, .center {
	text-align: center;
}

body {
	background-color: #eee;
}

.preload {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}